.filter-block {
  display: flex;
  align-items: center;
}
.filter-block input {
  border: 1px solid #d8d8d8;
  border-radius: 25px;
  padding: 15px;
  width: 100%;
  max-width: 418px;
  outline: none;
  transition: 0.15s;
  font-size: 16px;
}
.filter-block input:hover,
.filter-block input:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.filter-block label {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  margin-right: 20px;
}
